.blog-card {
  width: 310px;
  margin: auto;
}
.blog-img {
  width: 310px;
  height: 210px;
  background-size: cover;
  border-radius: 3px;
}

.blog-card {
  width: 310px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-category {
  font-weight: 600;
}


@media (max-width: 320px) {
  .blog-img, .blog-card {
    width: 100%;

  }
}
