.blog-card {
  width: 310px;
  margin: auto;
}
.blog-img {
  width: 310px;
  height: 210px;
  background-size: cover;
  border-radius: 3px;
}

.blog-card {
  width: 310px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-category {
  font-weight: 600;
}

.blog-title {
  margin-top: 15px;
  font-weight: 600;
}
.btn-read {
  margin-top: 10px;
}
.btn-read span {
  color: #000000;
  font-weight: 700;
  transition: 0.3s all;
  border-bottom: 1px solid #000;
}

.btn-read span:hover {
  text-decoration: none;
  color: #007bff;
  border-bottom: 1px solid #007bff;
  cursor: pointer;
}

@media (max-width: 375px) {
  .blog-img {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .blog-img,
  .blog-card {
    width: 100%;
  }
}
